*{

}

body {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(3, 3, 3, 0.3),rgba(3, 3, 3, 0.3)),url(images/download.png);
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: -10;
	font-size: 1.3rem;
}
.hero {
	position: absolute;
    min-height: 100vh;
    min-width: 100vw;
	top: 0;
	bottom: 0;
}
h1 {
	margin-top: 12rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.row{
	font-size: 25px;
	margin-top: 50px;
}
ul {
	list-style: none;
	margin-top: 2rem;
	/*border-top: 2px solid white;
	display: none;*/
}
li {
	border-bottom: 1px solid white;
	padding-top: 8px;
	padding-bottom: 8px;
}

.checkboxes {
	float: right;
	line-height: 15px;
	width: 17px;
	height: 17px;
	background-color: #e9ecef;
	border: 1px solid #e9ecef;
	border-radius: 3px;
}
